[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pillow = "*"
umsgpack = "*"
urllib3 = "*"
blend-modes = "*"
requests = "*"
requests-oauthlib = "*"
tornado = "*"
obs-websocket-py = "*"

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
flake8 = "*"
coverage = "*"
darglint = "*"
pytest = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
